name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install
        run: bun install
      - name: Lint
        run: bun run lint
      - name: Typecheck
        run: bun run typecheck
      - name: Test
        run: bun run test
      - name: Build
        run: bun run build
